{% extends 'base.html' %}

{% block content %}
    <h1>Subjects</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Teacher</th>

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for subject in subjects %}
                <tr>
                    <td>{{ subject.subject }}</td>
                    <td>{{ subject.teacher }}</td>
                    <td>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
