{% extends 'base.html' %}

{% block content %}
<h1>Upload Exam Sessions Excel</h1>

{% if messages %}
    {% for message in messages %}
        <div class="alert 
            {% if message.tags == 'success' %}
                alert-success
            {% elif message.tags == 'error' %}
                alert-danger
            {% else %}
                alert-info
            {% endif %}" role="alert">
            <p>{{ message }}</p>
        </div>
    {% endfor %}
{% endif %}


<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Upload</button>
</form>
{% endblock %}