{% extends 'base.html' %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert 
            {% if message.tags == 'success' %}
                alert-success
            {% elif message.tags == 'error' %}
                alert-danger
            {% else %}
                alert-info
            {% endif %} alert-dismissible fade show" role="alert">
            
            <!-- Message content -->
            <p>{{ message }}</p>
            
            <!-- Close button (X) -->
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
<div class="container mt-4">
    <h3>Set New Password</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Set Password</button>
    </form>
</div>
{% endblock %}