{% extends 'base.html' %}

{% block content %}
    <h1>Leave Types</h1>

    <a href="{% url 'create_leave_type' %}" class="btn btn-success mb-3">Add New Leave Type</a>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Leave Type Name</th>
            </tr>
        </thead>
        <tbody>
            {% for leave_type in leave_types %}
                <tr>
                    <td>{{ leave_type.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
